@model IEnumerable<CONTROL_INVENTARIO.Models.Supplier>

@{
    ViewBag.Title = "Index";
}



<p>
    <a href="@Url.Action("Create" ,"Suppliers")" class="btn btn-success btn-sm btn-icon-split">
    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
    <span class="text">Nuevo Proveedor</span>
    </a>
</p>

<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-xl-3 col-md-3 mb-4">
            <a href="@Url.Action("Details", "Suppliers", new { id = item.Id })">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@item.SupplierName</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@item.SupplierCode</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-store fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                $(document).ready(function () {
                    $('#mySupplier').DataTable();
                });
            </script>

        }




